
.leaderBoard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: larger;
}

.section {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.sectionInner {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.recentSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
  gap: 2rem;
}

.listItem {
  display: flex;
  border-style: solid;
}

.btnRefresh {
  height: fit-content;
  width: fit-content;
  display: flex;
  padding: 6px 12px 6px 12px;
  font-size: large;
}

.addScore {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.btnSubmit {
  height: fit-content;
  width: fit-content;
  display: flex;
  padding: 6px 12px 6px 12px;
  font-size: large;
}

.ul {
  list-style: none;
}

.listSection {
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12rem;
  border: 1px solid black;
}

.p {
  display: flex;
  flex-direction: row;
}

li:nth-child(odd) {
  background-color: rgb(230, 219, 219);
}

li:nth-child(even) {
  background-color: rgb(204, 240, 240);
}

.input {
  padding: 1rem;
  font-size: large;
  width: 20rem;
}
